name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Setup PHP
      uses: shivammathur/setup-php@2.35.3
      with:
        php-version: '8.3'
        tools: cs2pr, phpcs
    - name: Run phpcs
      run: phpcs -q --report=checkstyle src/ tests/ | cs2pr

  benchmark:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3', '8.4']
    steps:
    - uses: actions/checkout@v6
    - name: Setup PHP
      uses: shivammathur/setup-php@2.35.3
      with:
        php-version: ${{ matrix.php-versions }}
        tools: composer, phpbench/phpbench
        coverage: none
        ini-values: memory_limit=-1
    - name: Install dependencies
      run: composer install
    - name: PHPBench
      run: phpbench run -q --report=aggregate --


  unit-tests:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3', '8.4']
    steps:
    - uses: actions/checkout@v6
    - name: Setup PHP
      uses: shivammathur/setup-php@2.35.3
      with:
        php-version: ${{ matrix.php-versions }}
        tools: composer, phpunit
    - name: Install dependencies
      run: composer install
    - name: PHPUnit
      run: phpunit --coverage-clover coverage.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: unittests
        token: ${{ secrets.CODECOV_TOKEN }}
